<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>453853196321-mtqror6g7k7pauj949h8p0t5do9i9oht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453853196321-mtqror6g7k7pauj949h8p0t5do9i9oht</string>
	<key>API_KEY</key>
	<string>AIzaSyDwChvGP_HZ26fB0pXTCCq0cuDkvtk8Fkw</string>
	<key>GCM_SENDER_ID</key>
	<string>453853196321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.icedmak.mandarat.mandarat</string>
	<key>PROJECT_ID</key>
	<string>mandarat-e382d</string>
	<key>STORAGE_BUCKET</key>
	<string>mandarat-e382d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453853196321:ios:016f4798a17a31b6dff360</string>
	<key>DATABASE_URL</key>
	<string>https://mandarat-e382d-default-rtdb.firebaseio.com</string>
</dict>
</plist>